<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.buz4">

    <permission android:name="com.example.james.buz4.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.james.buz4.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.james.buz4.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/buz4_thumbnail"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:screenOrientation="portrait">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".FavouriteActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindStopsActivity"
            android:label="Find a Stop"
            android:parentActivityName=".FavouriteActivity"
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FavouriteActivity" />
        </activity>
        <activity
            android:name=".TimeTableActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".FindStopsActivity"
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FindStopsActivity"/>
        </activity>
        <activity android:name=".RouteActivity"
            android:label="Route"
            android:parentActivityName=".FindStopsActivity"
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FindStopsActivity" />
        </activity>
        <activity android:name=".WebserviceActivity"
            android:label="AT HOP"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".ReferenceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation">
        </activity>
    </application>
</manifest>